@import "grid.css";
body{
    margin: 0;
    font-family: sans-serif;
    justify-content: space-between;
    height: 100vh;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

/*Header*/
.header{
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/*.header.active{
    background-color: #f3ff99;
}*/

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #333;
    display: flex;
    align-items: center;
}
.logo{
    width: 70px;
}
/*Header END*/

/*Title*/
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 35vh;
}
.title-inner{
    margin-top: 20px;
}

/*TODO: поиграть с этим свойством посмотреть как будет выглядеть лучше (после формирования темы)*/
.title-inner:before,
.title-inner:after{
    content: "";
    display: block;
    width: 300px;
    height: 3px;
    margin: 30px auto;
    background-color: #333333;

}
.title-name{
    text-align: center;
    font-size: 25px;
}

/*Title END*/

/*Navigation panel*/
.nav-panel{
    font-size: 16px;
}

.nav-link{
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;

    transition: color 0.2s linear;
}

.nav-link:after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333333;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity 0.2s linear;

}
.nav-panel.active
{
    display: block;
}
.nav-link:hover {
    color: #171a00;
}

.nav-link:hover:after {
    opacity: 1;
}

.nav-link.active {
    color: #3d3c34;
}

.nav-toggle{
    display: none;
}

.nav-panel.active{
    display: block;
}

/*TODO: nav toggle*/

/*Footer*/
/*TODO: подвал сделать всегда прикрепленным к нижнему краю окна*/
.footer{
    font-family: 'Noto Sans', sans-serif;
    position: absolute;
    z-index: 100;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
.copyright{
}

/*Phone media*/
@media screen and (max-width: 770px){
    .header-logo{
        font-size: 15px;
    }
    .logo{
        width: 35px;
    }
    .title-name{
        font-size: 15px;
    }
    .title-inner:before,
    .title-inner:after{
        width: 50%;
        height: 2px;
        margin: 15px auto;
    }
    .nav-panel{
        display: none;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
    }
    .nav-link{
        display: block;
        margin: 0;
        padding: 8px 20px;
    }
    .nav-toggle{
        display: block;
    }

}