
body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    justify-content: space-between;
    height: 100vh;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*Header*/
.header{
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
    padding-top: 30px;
}
.header-inner{
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header-logo{
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #333;
    align-items: center;
}
.logo{
    width: 70px;
}
/*Header END*/


/*Navigation panel*/
.nav-panel{
    font-size: 16px;
    position: absolute;
    right: 0;
}

.nav-link{
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s linear;
}
.nav-link:hover {
    color: #656464;
}

.nav-link:after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #656464;
    opacity: 0;
    transition: opacity 0.2s linear;
}
.nav-link:hover:after {
    opacity: 1;
}

.nav-panel.active /*TODO: это для экранов поменьше*/
{
    display: block;
    margin-top: 10px;
}

.nav-link.active {
    /*TODO: изменение цвета когда nav элемент активен*/
}

.nav-toggle{
    width: 30px;
    padding: 18px 0;
    display: none;

    font-size: 0;
    color: transparent;

    border: 0;
    background: none;
    cursor: pointer;

    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
    outline: none;
}

.nav-toggle-item{
    display: block;
    width: 100%;
    height: 3px;
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -30px;
    margin: auto;
    transition: background-color;

}

.nav-toggle-item:before,
.nav-toggle-item:after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: black;
    position: absolute;
    left: 0;
    transition: transform .1s;
}

.nav-toggle-item:before {
    top: -8px;
}

.nav-toggle-item:after {
    bottom: -8px;
}
.nav-toggle-item.active {
    background-color: transparent;
}
.nav-toggle-item.active:after{
    transform: rotate(-45deg) translate(11px);
}
.nav-toggle-item.active:before{
    transform: rotate(45deg) translate(11px);
}

/*Title*/
.title {
    justify-content: center;
   /*TODO: еще не точно*/
}
.title-inner{
    margin-top: 20px;
}

/*TODO: поиграть с этим свойством посмотреть как будет выглядеть лучше (после формирования темы)*/
.title-inner:before,
.title-inner:after{
    content: "";
    display: block;
    width: 300px;
    height: 3px;
    margin: 30px auto;
    background-color: #333333;

}
.title-name{
    text-align: center;
    font-weight: 500;
    font-size: 30px;
}

/*Title END*/

/*Content*/

.border{ /*TODO: удалить когда перестанет быть нужным*/
    border: 3px solid black;
}
.content{
    align-items: center;
}
.main-content{
    justify-content: space-around;
}
.content-title{
    font-size: 22px;
    padding-bottom: 10px;
}

/*Content END*/

/*Footer*/
/*TODO: подвал сделать всегда прикрепленным к нижнему краю окна*/
.footer {
    font-family: 'Noto Sans', sans-serif;
    opacity: 0.5;
}
.copyright{
}

/*Phone media*/
@media screen and (max-width: 770px){
    .header-logo{
        font-size: 15px;
    }
    .logo{
        width: 35px;
    }
    .title-name{
        font-size: 20px;
    }
    .title-inner:before,
    .title-inner:after{
        width: 50%;
        height: 2px;
        margin: 15px auto;
    }
    .nav-panel{
        display: none;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
    }
    .nav-link{
        display: block;
        margin: 0;
        padding: 8px 20px;
        background-color: #dbfdb2;
    }
    .nav-toggle{
        display: block;
    }
}