<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/flex.css">
    <link rel="stylesheet" href="css/graphStyles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <title>Главная страница</title>
</head>
<body>
<div class="wrapper">

    <header class="header">

        <div class="flex-row container header-inner">

            <div class="flex-row container header-logo">
                <img class="logo" src="img/spbgti-tu.png" alt=""> СПБГТИ(ТУ)
            </div>

            <nav class="nav-panel" id="nav-panel">
                <a class="nav-link" href="/">Выход</a>
            </nav>

            <button class="nav-toggle" id="nav-toggle" type="button">
                <span class="nav-toggle-item" id="nav-toggle-item">Меню</span>
            </button>

        </div>
    </header>

    <main class="main">
        <div class="flex-column container title">
            <div class="title-inner">
                <div class="title-name">Панель администратора
                </div>
            </div>
        </div>

        <div class="flex-column container content ">
            <div class="flex-row setting">
                <input class="form-select" id="newPolymer" placeholder="Введите название полимера"/>
                <select class="form-select" id="oldPolymer">
                    <option>Выберите совместимый полимер</option>
                    {{#arrayOfPolymers}}
                        <option>
                            {{properties.name}}
                        </option>
                    {{/arrayOfPolymers}}
                </select>
                Обратная совместимость:
                <input type="checkbox" id="isReverse"/>
                <button class="btn btn-ready" id="ready">Добавить полимер</button>

            </div>
        </div>
    </main>
    <footer class="flex-column footer">
           <span class="copyright">
               &copy; Гусев Антон, 2022
           </span>
    </footer>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/admin.js"></script>
</div>
</body>
</html>