<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/flex.css">
    <link rel="stylesheet" href="css/graphStyles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <title>Главная страница</title>
</head>
<body>
    <div class="wrapper">

        <header class="header">

                <div class="flex-row container header-inner">

                    <div class="flex-row container header-logo">
                        <img class="logo" src="img/spbgti-tu.png" alt=""> СПБГТИ(ТУ)
                    </div>

                    <nav class="nav-panel" id="nav-panel">
                        <a class="nav-link active" href="#">Главная</a>
                        <a class="nav-link" href="login.html">Вход</a>
                        <a class="nav-link" href="about.html">О проекте</a>
                    </nav>

                    <button class="nav-toggle" id="nav-toggle" type="button">
                        <span class="nav-toggle-item" id="nav-toggle-item">Меню</span>
                    </button>

                </div>
        </header>

        <main class="main">
            <div class="flex-column container title">
                <div class="title-inner">
                    <div class="title-name">Дистанционная автоматизированная система формирования композиций полимерных материалов </div>
                </div>
            </div>

            <div class="flex-column container content ">
                <div class="flex-row setting">
                   <select class="form-select" id="firstPolymer" >
                       <option>Выберите первый полимер</option>
                       {{#arrayOfPolymers}}
                           <option>
                               {{properties.name}}
                           </option>
                       {{/arrayOfPolymers}}
                   </select>
                    <select class="form-select" id="secondPolymer">
                        <option>Выберите второй полимер</option>
                        {{#arrayOfPolymers}}
                            <option>
                                {{properties.name}}
                            </option>
                        {{/arrayOfPolymers}}
                    </select>
                    <button class="btn btn-ready" id="ready" onclick="draw()">Сформировать композицию</button>
                    <!--TODO: возможно сделаю изменение вида контента-->
                    <span class="flex-row view">
                        <a class="btn btn-special" onclick="changeOnBlockView()"><img src="img/grid.svg" alt=""></a>
                        <a class="btn btn-special"  onclick="changeOnInlineView()"><img src="img/list.svg" alt=""></a>
                    </span>
                </div>
                <div class="flex-row container main-content" id="block-view" style="">
                    <div class="graph" id="graph">
                    </div>
                    <div class="triangle">
                        <img src="img/caret-right.svg" width="25">
                    </div>
                    <div class="source">
                        Источники:
                        <div>
                            1) Rusu M., Ursu M., Rusu D. Poly(vinyl chloride) and Poly(e-caprolactone) Blends for Medical Use
                        </div>
                        <br>
                        <div>
                            2) Liu W., Zhang R., Huang M., Dong X., Xu W., Ray N., Zhu J. Design and structural study of a triple-shape memory PCL/PVC blend
                        </div>
                        <br>
                        <div>
                           3) Campos A., Franchetti S. Biotreatment effects in films and blends of PVC/PCL previously treated with heat
                        </div>
                    </div>
                    <div class="graph" id="graph2">
                    </div>
                    <div class="triangle">
                        <img src="img/caret-right.svg" width="25">
                    </div>
                    <div class="source">
                        Источники:
                        <div>
                            1) Rusu M., Ursu M., Rusu D. Poly(vinyl chloride) and Poly(e-caprolactone) Blends for Medical Use
                        </div>
                        <br>
                        <div>
                            2) Liu W., Zhang R., Huang M., Dong X., Xu W., Ray N., Zhu J. Design and structural study of a triple-shape memory PCL/PVC blend
                        </div>
                        <br>
                        <div>
                            3) Campos A., Franchetti S. Biotreatment effects in films and blends of PVC/PCL previously treated with heat
                        </div>
                    </div>
                </div>
                <div class="flex-column container main-content inline-view" id="inline-view" style="display: none">
                    <a class="content-line" href="#">PE — PB</a>
                    <a class="content-line" href="#">PB — SBS</a>
                    <a class="content-line" href="#">PS — PB — PE</a>
                </div>
            </div>
        </main>
        <footer class="flex-column footer">
           <span class="copyright">
               &copy; Гусев Антон, 2022
           </span>
        </footer>
        <script src="//cdn.amcharts.com/lib/4/core.js"></script>
        <script src="//cdn.amcharts.com/lib/4/charts.js"></script>
        <script src="//cdn.amcharts.com/lib/4/themes/animated.js"></script>
        <script src="//cdn.amcharts.com/lib/4/plugins/forceDirected.js"></script>
        <script src="js/main.js"></script>
        <script src="js/graph.js"></script>
    </div>
</body>
</html>

